<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <title>Document</title>
    <style>

        body,html {
            background-image: url("https://static01.nyt.com/images/2019/04/28/opinion/sunday/28sanzaro/merlin_153898551_5956db5a-b6ac-496e-a13a-45055370562c-superJumbo.jpg");
            height:100%;
            /* width:100%; */
            top:0;
            right:0;
            background-attachment: fixed;
            overflow: hidden;

        }
            

        textarea {
            margin-left:800px;
            height: 200px;
            width:400px;
            border-radius: 4px;
        
        }

        .navbar {
            width:100%;
            margin-top:0;
            height:60px;
            background-color: rgba(0,0,0,0.4);
            border-bottom:1px solid teal;
        }
        .createPostContainer {
            height: 250px;
            width:250px;
            margin-left: 510px;
            margin-top:20px;
        }

        #search-bar {
        width: 200px;
        height: 200px;
        display: block;
        position: relative;
    }
        #search-bar::after {
            content: "";
            background: url("https://static.thenounproject.com/png/2161472-200.png");
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;   
        }

        input {
            border-radius:3px;
            border:none;
            margin-left:6px;
            margin-top: 90px;
            position:relative;
        }

        input::after {
            border:none;
        }

        .postContainer {
            margin-top:5px;
            height:200px;
            width:250px;
            margin-left:600px;
            border-radius:4px;
            border:1px solid black;
            box-shadow:2px 4px 6x blue;
        }

        .delete-button {
            float:right;
            height:40px;
            width:60px;
            background-color:red;
            color:yellow;
        }

        .postContainer {
            height: 200px;
            width:250px;
            border:1px solid black;
        }

        .posts {
            height: 100px;
            width:160px;
            border:1px solid yellow;

            color:green;      
        }

        #post {
            color:black;
            margin-left:620px;
            margin-top:10px;
        }

        nav {
            height: 70px;
            background-color: rgba(0,0,0,0.4);
        }

            ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
    }

    ul li {
        float:right;
        display: inline;
        margin-left: 10px;
    }

        a {
            font-size: medium;
            text-decoration: none;
            color:gray;
        }

        a:hover {
            color:yellow;
        }
        li:hover {
            color:yellow;  
        }

        #mountain-icon {
            height: 20px;
            width:20px; 
            display: block;
            position: relative;
        }

        #mountain-icon::after {
            opacity: 0.5;
            position: absolute;
            z-index: -1;
        }
         #button {
             position: relative;
            margin-left:-83px;             
         }

         #container-child {
             height:200px;
             width:200px;
             border:2px solid rebeccapurple;
             background-color: black;
         }

         .deleteButton {
             position: relative;
             height: 20px;
             width:20px;
             background-color: white;
             color:red
         }
    </style>
</head>
<body> 
        <nav><span><img id="mountain-icon" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftoppng.com%2Ffree-image%2Fmountain-png-transparent-free-images-clip-art-mountain-logo-PNG-free-PNG-Images_172015&psig=AOvVaw3yWx5Gh-47mzNUL56PQtsU&ust=1610207100048000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCND25O7WjO4CFQAAAAAdAAAAABAD"/></span><ul><li><a href="/">Home  |</a></li><li>About  | </li><li><a href="/signup">Sign Up</a></li><li><a href="/login">Sign In</a></li></ul></nav>     
        <div class="createpostContainer">
        <textarea id="post" placeholder="Write whats on your mind..."></textarea>
        <button class="button is-primary" onclick="addPost" id="button">Send Post</button>
    </div>
        <div class="mainContainer">
        </div>
    <script>


       var mainContainer = document.querySelector(".mainContainer");

        var post = document.getElementById("post");

        var addedPosts = [];

        function addPost() {

            mainContainer.innerHTML += `<div style="display:flex-grid;border:2px solid white"><p style="color:yellow">${post.value}</p><button style="red" class="delete">DELETE</button></div>`

            deletePost = document.querySelectorAll(".delete");

            for(var i=0;i<deletePost.length;i++){
                deletePost[i].onclick = function(){
                    this.parentNode.remove();
                }
             }
        //     var addedPost = document.createElement("div");
            
        //     addedPost.classList.add("posts");
            
        //     addedPost.innerText = post.value;

        //     var deleteButton = document.createElement("button");

        //     deleteButton.classList.add("delete-button");

        //     deleteButton.textContent = "DELETE";

        //     addedPost.appendChild(deleteButton);
    
        //     addedPosts.push(addedPost);
            
        //     mainContainer.appendChild(addedPost);


        //     for(var i = 0; i < addedPost.length; i++) {
        //          deleteButton.addEventListener("click", function (e) {
        //             e.target.parentNode.remove();
        //     });
        // }
            
    }
        document.getElementById("button").addEventListener("click",addPost);
        </script>
</body>
</html>