<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            height: 250px;
            width:250px;
            margin-left: 510px;
            margin-top:20px;
        }
    </style>
</head>
<body>
    <header style="width: 100%,margin-top:0,border-bottom:1px solid white"></header>
    <form method="POST" action="/dashboard">    
    <div>
        <textarea placeholder="Write whats on your mind..." name="addedPost"></textarea>
        <button type="submit">Send Post</button>
    </div>
    </form>
</body>
</html>