<html>
  <head>
    <title>Error</title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <div id="app" style="display: inline;">
      <h3 style="margin-top: 0; font-weight: 800; font-size: 80px;">
        404
      </h3>
      <p style="margin-top: -80px; font-size: 25px;">Error Not Found</p>
    </div>

    <script src="src/index.js"></script>
  </body>
</html>