<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title><link rel = "stylesheet"
   type="text/css" href="login.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body>
    <div class="grid">
        <img src="https://scx2.b-cdn.net/gfx/news/2019/2-nature.jpg" id="image"/>
      <div class="column" style="height:1100px;border-left: 1px solid black;">
        <form method="POST" action="/login">
            <div class="errors">
             <% errors.forEach((error)=>{ %>  
                    <p style="color:red"><%=error%></p> 
               <% }); %>
            </div>
            <h3>LOGIN</h3>
            <label>Username</label>
            <input autocomplete="off" class="input is-info" placeholder="Enter your username or email" name="username"/>
            <label>Password</label>
            <p class="control has-icons-left">
            <input autocomplete="off" class="input" type="password" placeholder="Password" name="password">
            <span class="icon is-small is-left">
             <i class="fas fa-lock"></i>
            </span>
            </p>
             
              <div class="field">
                <p class="control">
                  <button style="color:rebeccapurple" type="submit" class="button is-success">
                    Login
                  </button>
                  <p>Dont have an account? <span><a href="/signup">Sign Up</a></span></p>
                </p>
              </div>
            </form>
          </div>
    </div>
    </div>
</div>
</div>

    
</body>
</html>