<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            height: 250px;
            width:250px;
            border:1px solid black;
            align-items: center;
        }
    </style>
</head>
<body>
    <div>
        <form method="POST" action="/login">
            <label>Username</label>
            <input placeholder="Enter your username or email" name="username"/>
            <label>Password</label>
            <input placeholder="Enter your password" name="password"/>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>