<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title><link rel = "stylesheet"
   type = "text/css" href = "login.css" />
</head>
<body>
    <div>
        <form method="POST" action="/login">
            <div>
             <% errors.forEach((error)=>{ %>
                    <div style="height:200px,width:240px; background-color:rgba(0,0,0,0.4);text-align:center">  
                    <p style="color:red"><%=error%></p>
                    </div>
               <% }); %>
            </div>
            <label>Username</label>
            <input placeholder="Enter your username or email" name="username"/>
            <label>Password</label>
            <input placeholder="Enter your password" name="password"/>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>