
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Mountaineer</title>
    <link rel="stylesheet" type="text/css" href="signup.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
     <!-- <script src="form-signup.js"></script> -->
     <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
  </head>
  <body>
    <nav style="border-bottom:1px solid white" class="navbar-menu navbar is-primary">
    <div><h1 class="head">MOUNTAINEER<span class="fas fa-mountain"></span></h1>
    </div>
  </nav>
  <form method="POST" action="/signup" >
    <div style="margin-top:40px;height:100px;width:261px; margin-left: 900px; background-color:rgba(0,0,0,0.4);text-align:center;">
    <% errors.forEach((error)=>{ %>
      <p style="font-family:Arial, Helvetica, sans-serif;color:red;"><%=error%></p>
    <% }); %>
  </div>
    <div class="signupContainer">
      <div class="field"> 
          <label for="First Name">First Name</label>
      </div>
        <div class="control">
          <input autocomplete="off" class="input is-primary" id="name" placeholder="First Name" name="firstName">
      </div>
      <div class="field">
      <label for="Last Name">Last Name</label>
    </div>
        <div class="control">
        <input autocomplete="off" class="input is-primary" id="name" placeholder="First Name" name="lastName">
      </div>
      <div class="field">
          <label for="Username">Username</label>
        </div>
        <div class="control">
        <input autocomplete="off" class="input is-primary" id="inputedUsername" placeholder="Username" name="username">
      </div>
        <div class="field">
          <label for="Password">Password</label>
        </div>
        <div class="control">
            <input  autocomplete="off" class="input is-primary password" id="first-password" placeholder="Password" name="password">
        </div>
        <div class="field">
          <label for="Renter Password">Verify Password</label>
        </div>
        <div class="control">
          <input autocomplete="off" class="input is-primary" placeholder="Verify Password" name="verifiedPassword"/>
        </div>
        <div class="wrapper">
          <button class="button is-info is-outlined" id="button" type="submit">Submit</button>
          <a  style="display:block" href="/login">Login</a>
        </div>
      </div>
      </form>
      <section></section>
      <div class="footer-container">
      <footer>Tim Tudosa @ 2020</footer>
      </div>
  </body>

</html>
